# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS files (macOS & Windows)
.DS_Store
Thumbs.db
ehthumbs.db

# Environment variables (protege todos los archivos .env)
.env*

# IDEs & Editors
.vscode/
.idea/

# typescript
*.tsbuildinfo

# generated native folders (Prebuild)
/ios
/android